a2wsgi==1.10.0
aioquic==0.9.25
aiounittest==1.4.2
argon2pure==1.3
bcryptor==1.2.2
cffi==1.16.0
ConfigParser==6.0.0
contextlib2==21.6.0
curio==1.6
cx_Oracle==8.3.0
cython==3.0.8
Cython==3.0.8
dirty_equals==0.7.1.post0
dl==0.1.0
docutils==0.20.1
eval_type_backport==0.1.3
fastapi_users_db_beanie==3.0.0
fastpbkdf2==0.2
filelock==3.13.1
funcsigs==1.0.2
gunicorn==21.2.0
HTMLParser==0.0.2
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
httpx_oauth==0.13.2
hypothesis==6.98.3
ipython==8.21.0
ipywidgets==8.1.2
itsdangerous==2.1.2
Jinja2==3.1.3
jnius==1.1.0
keyring==24.3.0
nose==1.3.7
numpy==1.24.1
objgraph==3.6.0
orjson==3.9.13
outcome==1.3.0.post0
pandas==2.2.0
Pillow==9.4.0
Pillow==10.2.0
protobuf==3.19.6
psutil==5.9.8
pyOpenSSL==24.0.0
pysqlcipher3==1.2.0
pytest==8.0.0
python-dotenv==1.0.1
PyYAML==6.0.1
PyYAML==6.0.1
railroad==0.5.0
setuptools_scm==8.0.4
Sphinx==7.2.6
sqlcipher3==0.5.2
thread==0.1.3
toml==0.10.2
tornado==6.4
trio==0.24.0
trove_classifiers==2024.1.31
ujson==5.9.0
unittest2==1.1.0
urllib3_secure_extra==0.1.0
watchfiles==0.21.0
watchgod==0.8.2
wmi==1.5.1
wsproto==1.2.0
xmlrpclib==1.0.1
